<div class="container-login100" style="background-image: url('../../assets/images/bg-01.jpg');">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

    <form #registerForm="ngForm" (ngSubmit)="register()" class="login100-form validate-form">

      <span class="login100-form-title p-b-37">
        Sign In
      </span>

      <div class="wrap-input100 validate-input m-b-20">
        <input class="input100" required type="text" name="username" [(ngModel)]="model.username" placeholder="Username">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input m-b-25">
        <input class="input100" required type="password" name="password" [(ngModel)]="model.password" placeholder="Password">
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn">
          Sign In
        </button>
      </div>

      <div class="text-center p-t-57 p-b-20">
        <span class="txt1">
          Or login with
        </span>
      </div>

      <div class="flex-c p-b-112">
        <a href="#" class="login100-social-item">
          <i class="fa fa-facebook-f"></i>
        </a>

        <a href="#" class="login100-social-item">
          <img src="../../assets/images/icons/icon-google.png" alt="GOOGLE">
        </a>
      </div>

      <div class="text-center">
        <a href="#" class="txt2 hov1" [routerLink]="['']">
          Back To Home
        </a>
      </div>
    </form>
  </div>
</div>