span {
    font-weight: bold;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
}
input {
    padding: 1em;
    margin-bottom: 2em;
}
.active {
    background-color: yellow;
    border: 4px solid black;
}
.notactive {
    background-color: lightgray;
}