<div class="container mt-5" *ngIf="!registerMode">
  <div style="text-align: center">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" [routerLink]="['/register']">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>
</div>
